<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="AppManagerNG signal test app"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoDisplay">

        <activity
            android:name=".SignalSenderActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.sysadmindoc.appmanagerng.signaltestapp.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
